html {

    background-image: url(Images/WebLayout%20Background.png);
    background-size: 100vw 115vh;
    background-repeat: no-repeat;
    /*    This code is to place a background that is fixed */

}

body {
    display: grid;
    grid-template-columns: 1fr 4fr 4fr;
    grid-template-rows: 1fr 2fr 2fr 3fr;
    /*    Grid Template*/
}

p1 {
    grid-column: 2/4;
    grid-row: 1/2;
    background-color: #8a8591;
    border-radius: 8px;
    height: 130px;
/*    First paragraph*/

}

p2 {
    background-color: #6e6fde;
    border-radius: 8px;
    grid-row: 3/4;
    grid-column: 2/3;
    margin: 15px;
/*    Second Paragraph*/
}

p3 {
    background-color: #8089dc;
    border-radius: 8px;
    grid-column: 3/4;
    grid-row: 3/4;
    margin: 15px;
/*    Thrid Paragraph*/

}

nav1 {
    background-color: #6e6fde;
    border-radius: 8px;
    justify-self: center;
    grid-row: 2/3;
    grid-column: 2/3;
    width: 200px;
    height: 100px;
    font-size: 80px;
/*    Return to home page*/

}

nav2 {
    background-color: #835c54;
    border-radius: 8px;
    justify-self: center;
    grid-row: 2/3;
    grid-column: 3/4;
    width: 180px;
    height: 100px;
    font-size: 80px;
/*    Next product*/

}

.img-pb {
    grid-column: 2/3;
    grid-row: 4/5;
    width: 700px;
    height: 400px;
    justify-self: auto;
    
    
    
    
}

.img-pg {
    grid-column: 3/4;
    grid-row: 4/5;
    width: 700px;
    height: 300px;
    margin: 40px;
    
    
}

